name: clang-format Check

on:
  push:
    branches:
      - master
    paths:
      - '**.hpp'
      - '**.cpp'
      - '**.h.in'
      - '**.c'
  pull_request:
    paths:
      - '**.hpp'
      - '**.cpp'
      - '**.h.in'
      - '**.c'

permissions:
  contents: read

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - 'config'
          - 'examples'
          - 'include'
          - 'src'
          - 'test/include'
          - 'test/src'
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Run clang-format style check for C/C++ programs.
      uses: jidicula/clang-format-action@6cd220de46c89139a0365edae93eee8eb30ca8fe # v4.16.0
      with:
        clang-format-version: '18'
        check-path: ${{ matrix.path }}
        include-regex: '^.*\.(hpp|cpp|h\.in|c)$'
        fallback-style: 'Google'
